<?xml version='1.0' encoding='utf-8'?>
<widget id="com.makakoa.TheCouncilApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>The Council</name>
    <description>
        Immediate answers to life's most important unimportant questions.
    </description>
    <author email="makakoa57@gmail.content" href="http://cameronmyee.com">
      makakoa
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="assets/icon.png" />
    <platform name="android">
      <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
      <preference name="BackupWebStorage" value="local"/>
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
      <icon src="assets/40x40.png" platform="ios" width="40" height="40" density="mdpi" />
      <icon src="assets/60x60.png" platform="ios" width="60" height="60" density="mdpi" />
      <icon src="assets/120x120.png" platform="ios" width="120" height="120" density="mdpi" />
      <icon src="assets/180x180.png" platform="ios" width="180" height="180" density="mdpi" />
      <icon src="assets/72x72.png" platform="ios" width="72" height="72" density="mdpi" />
      <icon src="assets/144x144.png" platform="ios" width="144" height="144" density="mdpi" />
      <icon src="assets/76x76.png" platform="ios" width="76" height="76" density="mdpi" />
      <icon src="assets/152x152.png" platform="ios" width="152" height="152" density="mdpi" />
      <splash src="assets/640x1136.png" width="640" height="1136"/>
      <splash src="assets/750x1334.png" width="750" height="1334"/>
      <splash src="assets/828x1472.png" width="828" height="1472"/>
      <splash src="assets/768x1024.png" width="768" height="1024"/>
      <splash src="assets/1536x2048.png" width="1536" height="2048"/>
      <splash src="assets/320x480.png" width="320" height="480"/>
      <splash src="assets/640x960.png" width="640" height="960"/>
      <splash src="assets/1242x2208.png" width="1242" height="2208"/>
    </platform>
</widget>
